// CSS HOMEPAGE
.slider{
    height: 100vh;
    position: relative;
    .slider__item-wrap{
        height: 100%;
        width: 100%;
        .slider__item{
            height: 100vh;
            width: 100%;
            .slider__item-text{
                text-align: center;
                z-index: 10;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                p{
                    font-size: 84px;
                    font-family: 'PNB';
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: $yellow-cl;
                    margin-bottom: 20px;
                }
                
                
            }
            .slider-img{
                object-fit: cover;
                @include mid();
                min-height: 100%;
                min-width: 100%;
            }
        }
        
    }
    .slider__bottom{
        width: 100%;
        position: absolute;
        bottom: 20px;
        .container-fluid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .slider__bottom-paging{
                display: flex;
                align-items: center;
                .num{
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    font-size: 42px;
                    font-family: 'PNB';
                    color: $yellow-cl;
                    &::before{
                        content: '';
                        width: 50px;
                        height: 4px;
                        background-color: $yellow-cl;
                        display: inline-block;
                        margin-right: 15px;
                        @include xs{
                            width: 30px;
                            margin-right: 10px;
                        }
                    }
                }
                .dot{
                    display: flex;
                    li{
                        width: 8px;
                        height: 8px;
                        background-color: $yellow-cl;
                        border-radius: 50%;
                        margin: 0 8px;
                        cursor: pointer;
                        opacity: 0.2;
                        @include transition($t);
                        &:hover,
                        &.active{
                            opacity: 1;
                            @include transition($t);
                        }
                    }
                }
            }
            .slider__bottom-mouse{
                position: absolute;
                left: 50%;
                @include transform(translateX(-50%));
                bottom: 20px;
                text-align: center;
                @include keyframes(topdown){
                    0%{
                        @include transform(translateY(0px));
                        opacity: 0;
                        @include transition($t);
                    }
                    100%{
                        @include transform(translateY(20px));
                        opacity: 1;
                        @include transition($t);
                    }
                }
                .mouse{
                    margin-bottom: 10px;
                    
                    img{
                        width: 20px;
                        height: 30px;
                    }
                }
                .arrow{
                    @include animation(topdown 1s ease forwards infinite);
                }
            }
            .slider__bottom-control{
                display: flex;
                flex-direction: row;
                cursor: pointer;
                .btnctr{
                    border: 1px solid $white-cl;
                    padding: 10px 20px;
                    @include transition($t);
                    &:first-child{
                        transform: rotate(180deg);
                    }
                    &:hover{
                        background-color: $yellow-cl;
                        @include transition($t);
                    }
                }
                
            }
        }
    }
}

.products{
    --wImage: 520px;
    padding: 90px 0;
    .product{
        display: grid;
        grid-template-columns: 1fr var(--wImage);
        .product__img{
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &:last-child{
            margin-top: 80px;
            grid-template-columns: var(--wImage) 1fr ;
            .textbox{
                .titlemain{
                    &::before{
                        left: initial;
                        margin-left: initial;
                    }
                }
            }
            .product__text{
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .product_img{
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
    }
}

.videos{
    padding: 10px 0 70px 0;
    .container{
        .videos__intro{
            padding: 0;
            max-width: 530px;
            margin: auto;
        }
        .textbox{
            text-align: center;
            .titlemain{
                margin-bottom: 20px;
                // position: relative;
                display: flex;
                flex-direction: column-reverse;
                &::before{
                    height: 4px;
                    width: 40px;
                    background-color: #a9946e;
                    left: initial;
                    right: initial;
                    margin: 15px auto;
                }
                // &::after{
                //     content: '';
                //     height: 4px;
                //     width: 40px;
                //     background-color: #a9946e;
                //     position: absolute;
                //     bottom: -10px;
                //     left: 50%;
                // }   
            }
        }
        .videos__item-wrap{
            margin-top: 50px;
            padding: 0 70px;
            display: flex;
            justify-content: space-around;
            gap: 40px;
            .videos__item{
                .videos__item-img{
                    cursor: pointer;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
                    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
                    &::after{
                        content: '';
                        width: calc(100% + 15px);
                        height: calc(100% + 15px);
                        border: 15px solid #fff;
                        border-radius: 50%;
                        @include mid();
                        z-index: 0;
                    }
                    >img{
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        @include transition($t);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%,-50%) scale(1));
                        
                    }
                    &:hover{
                        >img{
                            @include transition($t);
                            @include transform(translate(-50%,-50%) scale(1.05));
                            opacity: 0.9;
                        }
                    }
                    .btn-play{
                        @include mid();
                        img{
                            width: 60px;
                        }
                    }
                }
                .videos__item-cap{
                    margin-top: 20px;
                    text-align: center;
                    font-size: 16px;
                    color: $black-cl;
                    line-height: 20px;
                    font-family: 'PNR';
                    letter-spacing: 1px;
                    &::before{
                        content: '';
                        height: 3px;
                        width: 20px;
                        background-color: $yellow-cl;
                        margin: 20px auto;
                        display: block
                        ;
                    }
                }
            }
        }
    }
}

.intro{
    width: 100%;
    height: auto;
    padding: 180px 0;

    background-image: url(/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    .container{
        height: 100%;
        display: flex;
        .intro__textbox{
            align-self: center;
            
            .titlemain{
                color: $yellow-cl;
                line-height: 50px;
            }
            .description{
                color: $white-cl;
                line-height: 22px;
                padding: 30px 0;
            }
            .btn-watch{
                cursor: pointer;
                width: 250px;
                height: 50px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
        .textbox{
            max-width: 650px;
            padding: 0;
            .titlemain{
                &::before{
                    display: none;
                }
            }
        }
    }
}

.aboutus{
    --wImage: 520px;
    padding: 100px 0 90px 0;
    .container{
        .about{
            display: grid;
            grid-template-columns: var(--wImage) 1fr;
            .about__img{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .textbox{
                padding-left: 80px;
                padding-top: 70px;
            }
        }
    }
}

.gallery{
    width: 100%;
    height: auto;
    padding: 90px 0;
    background-color: black;
    .container{
        .gallery__text{
            max-width: 450px;
            .titlemain{
                color: $white-cl;
                &::before{
                    display: none;
                }
            }
            .description{
                color: $white-cl;
            }
        }
        .textbox{
            padding: 0;
        }
        .gallery__img{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 200px 200px;
            gap: 15px;
            
            .gallery__img-item{
                overflow: hidden;
                position: relative;
                cursor: pointer;
                &:hover{
                    img{
                        opacity: 0.8;
                        @include transition($t);
                    }
                }
            }
            .item2{
                grid-column: 2/3;
                grid-row: 1/3;
            }
            img{
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                @include mid();
                @include transition($t);
                
            }
            
        }
    }
}

.news{
    padding: 80px 0;
    .container{
        .news__text{
            max-width: 450px;
            .titlemain{
                margin-bottom: 15px;
                &::before{
                    display: none;
                }
            }
        }
        .textbox{
            padding: 0;
        }
        .news__thumbnail{
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 25px;
            .news__thumbnail-item{
                .img-thumb{
                    height: 200px;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;
                    &:hover{
                        img{
                            opacity: 0.8;
                            @include transition($t);
                        }
                    }
                    img{
                        @include mid();
                        min-height: 100%;
                        min-width: 100%;
                        object-fit: cover;
                        @include transition($t);
                    }
                }
                .news-text{
                    .title{
                        height: 90px;

                        &::before{
                            content: '';
                            height: 4px;
                            width: 80px;
                            background-color: $yellow-cl;
                            display: block;
                            margin: 20px 0;
                        }
                        a{
                            font-size: 18px;
                            color: $black-cl;
                            font-family: 'PNB';
                            text-transform: uppercase;
                            text-decoration: none;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                        }
                    }
                    .des{
                        font-size: 15px;
                        font-family: 'PNR';
                        color: $text-cl;
                        // line-height: 20px;
                        letter-spacing: 1px;
                        @include overtext(3);
                        
                    }
                }
            }
        }
    }
}

.list{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    width: 100%;
    overflow: hidden;
    .list__img{
        padding: 0 20px;
        img{
            min-width: 450px;
        }
    }
}

//Reponsive

@media (max-width: 991px) {
    .slider{
        .slider__item-wrap{
            .slider__item{
                .slider__item-text{
                    p{
                        font-size: 80px;
                    }
                    // .btn-slider{
                    //     padding: 12px 36px;
                    // }
                }
            }
        }
        .slider__bottom{
            .container-fluid{
                .slider__bottom-paging{
                    .num{
                        font-size: 40px;
                    }
                    .dot{
                        li{
                            margin: 0 7px;
                            height: 7px;
                            width: 7px;
                        }
                    }
                }
                .slider__bottom-control{
                    .btnctr{
                        padding: 8px 18px;
                    }
                }
            }
        }
    }
    .products{
        --wImage: 420px;
        padding: 70px 0;
        .container{
            .product{
                .product__text{
                    
                    .titlemain{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .aboutus{
        --wImage: 420px;
        padding: 70px 0 60px 0;
        .container{
            .about{
                .about__text{
                    .titlemain{
                        &::before{
                            display: none;
                        }
                    }
                }
                .textbox{
                    padding-left: 20px;
                    padding-top: 30px;
                }
            }
        }
    }
    .gallery{
        padding: 80px 0;
        .container{
            .gallery__img{
                grid-template-rows: 180px 180px;
            }
        }
    }
    .news{
        padding: 70px 0;
        .container{
            .news__thumbnail{
                margin-top: 30px;
                .news__thumbnail-item{
                    .img-thumb{
                        height: 180px;
                    }
                    .news-text{
                        .title{
                            height: 80px;
                            a{
                                font-size: 14px;
                            }
                        }
                        .des{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .slider{
        height: 500px;
        .slider__item-wrap{
            .slider__item{
                height: 500px;
                .slider__item-text{
                    p{
                        font-size: 70px;
                        margin-bottom: 14px;
                    }
                    .btn-slider{
                        padding: 10px 30px;
                    }
                }
                .slider-img{
                    height: 100%;
                }
            }
        }
        .slider__bottom{
            .container-fluid{
                .slider__bottom-paging{
                    .num{
                        font-size: 30px;
                        &::before{
                            width: 30px;
                            margin-right: 10px;
                        }
                    }
                    
                    .dot{
                        li{
                            margin: 0 6px;
                            height: 6px;
                            width: 6px;
                        }
                    }
                }
                .slider__bottom-mouse{
                    display: none;
                }
                .slider__bottom-control{
                    .btnctr{
                        padding: 7px 17px;
                    }
                }
            }
        }
    }
    .products{
        padding: 60px 0;
        .product{
            grid-template-columns: 1fr !important;
            &:last-child{
                margin-top: 60px;
                .product__text{
                    grid-column: initial;
                    grid-row: initial;
                }
                .product_img{
                    grid-column: initial;
                    grid-row: initial;
                }
            }
        }
    }
    .videos{
        .container{
            // .videos__intro{
            //     width: 480px;
            // }
            .textbox{
                .titlemain{
                    margin-bottom: 15px;
                }
            }
            .videos__item-wrap{
                .videos__item{
                    .videos__item-img{
                        width: 150px;
                        height: 150px;
                        .btn-play{
                            img{
                                width: 50px;
                            }
                        }
                    }
                    .videos__item-cap{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .intro{
        // height: 550px;
        padding: 140px 0;
        .container{
            .intro__textbox{
                .btn-watch{
                    height: 45px;
                    width: 245px;
                }
            }
        }
    }
    .aboutus{
        .container{
            .about{
                grid-template-columns: 1fr !important;
                .textbox{
                    padding-left: 0;
                }
            }
        }
    }
    .gallery{
        padding: 60px 0;
        .container{
            .gallery__img{
                grid-template-rows: 120px 120px;
                gap: 10px;
            }
        }
    }
    .news{
        padding: 60px 0;
        .container{
            .news__thumbnail{
                grid-template-columns: 1fr;
                .news__thumbnail-item{
                    .img-thumb{
                        height: 320px;
                    }
                    .news-text{
                        margin-bottom: 20px;
                        .title{
                            height: initial;
                        }
                        .des{
                            font-size: 13px;
                            @include overtext(initial);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .slider{
        .slider__item-wrap{
            .slider__item{
                .slider__item-text{
                    p{
                        font-size: 50px;
                    }
                    .btn-slider{
                        padding: 10px 16px;
                        font-size: 12px;
                        line-height: 40px;
                    }
                }
                .slider-img{
                    height: 100%;
                }
            }
        }
    }
    .products{
        padding: 50px 0;
        .product{
            &:last-child{
                margin-top: 50px;
            }
        }
    }
    .videos{
        .container{
            // .videos__intro{
            //     width: 400px;
            // }
            .textbox{
                .titlemain{
                    margin-bottom: 10px;
                    &::before{
                        margin: 10px auto;
                    }
                }
            }
            .videos__item-wrap{
                margin-top: 30px;
                flex-direction: column;
                .videos__item{
                    padding: 20px 0;
                    .videos__item-img{
                        margin: auto;
                    }
                }
            }
        }
    }
    .intro{
        // height: 450px;
        padding: 100px 0;
        .container{
            .intro__textbox{
                .description{
                    padding: 20px 0;
                }
                .btn-watch{
                    height: 45px;
                    width: 245px;
                }
            }
        }
    }
    .gallery{
        padding: 50px 0;
        .container{
            .gallery__img{
                grid-template-rows: 100px 100px;
                gap: 10px;
            }
        }
    }
    .news{
        padding: 60px 0;
        .container{
            .news__thumbnail{
                grid-template-columns: 1fr;
                .news__thumbnail-item{
                    .img-thumb{
                        height: 280px;
                    }
                    .news-text{
                        margin-bottom: 20px;
                        .title{
                            height: initial;
                        }
                        .des{
                            font-size: 13px;
                            @include overtext(initial);
                        }
                    }
                }
            }
        }
    }
}
